.container {
}
.table {
    font-size: small;
}
.profile-list table thead a {
    text-decoration: none;
    color: #fff;
}
.profile-list table thead a:hover {
    color: #7c7c7c;
}
.profile-list table tr td {
    text-transform: capitalize;
}