.mk-ok { background-color: #cccccc; }
.mk-d { background-color: #d50000; }
.mk-m { background-color: #fd558f; }
.mk-mo { background-color: #aa00ff; }
.mk-im { background-color: #6200ea; }
.mk-sp { background-color: #304ffe; }
.mk-rf { background-color: #0091ea; }
.mk-un { background-color: #00bfa5; }
.mk-am { background-color: #00c853; }
.mk-co { background-color: #64dd17; }
.mk-jc { background-color: #aeea00; }
.mk-ab { background-color: #ffd600; }
.mk-p { background-color: #ffab00; }
.mk-in { background-color: #ff6d00; }
.mk-imp { background-color: #dd2c00; }
.mk-s { background-color: #3e2723; }
.mk-rm { background-color: #ffccaa; }
.mk-x { background-color: #010101; }
.mk-xo { background-color: #555666; }