body {
    font-size: small;
    color: #657565;
}
#profileTab .nav-item a{
    color: #657565;
}
.notification {
    color: #ff2b1a;
}
#total-balance {
    margin: 10px 254px 10px 28px;
}
.img-circle {
    border-radius: 50%;
}

#photo {
    width: 171px;
    height: 128px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
/** force capitalization */
#firstname, #lastname, #middlename,
#nickname, #religion, #nationality,
#home-address, #guardian-name

{
    text-transform: capitalize;
}
/** force uppercase */
#bloodtype {
    text-transform: uppercase;
}